  <!-- SEO -->
  <meta name="description" content="帶一份，來自家的便當！向媽媽們預訂豐盛、均衡的午餐，給忙碌又總是外食的你，更有溫度的選擇！媽媽元氣便當，售價100元，試營運期間免運費！" />
  <meta name="keywords" content="帶便當, 媽媽便當, 線上訂餐, 訂便當, 便當菜, 元氣便當" />
  <!-- SEO end-->
  <!--Facebook og-->
  <meta property="og:title" content="BentoBanto帶便當" />
  <meta property="og:description" content="帶一份，來自家的便當！向媽媽們預訂豐盛、均衡的午餐，給忙碌又總是外食的你，更有溫度的選擇！媽媽元氣便當，售價100元，試營運期間免運費！" />
  <meta property="og:image" content="http://www.bentobanto.com/app/assets/images/logo.png" />
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.bentobanto.com/" />
  <!--Facebook og end-->
  <div id="headNav">
    <nav class="navbar navbar-default navbar-fixed-top hidden-xs hidden-sm" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <a class="navbar-brand" href="#home"><%= image_tag("web_logo.png", :height => "10%", :width => "10%", class: "img-responsive", alt: "bento banto") %></a>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#preInfo">簡單三步驟</a></li>
              <li><a href="#preStory">媽媽料理故事</a></li>
              <li><a href="#order">我要帶便當</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <p class="centerLogo text-center"><%= image_tag("web_logo.png", :height => "20%", :width => "20%", alt: "bento banto") %></p>
          <div class="col-xs-12 col-sm-12">
            <h1 class="mainArticle text-center">帶一份 來自家的便當</h1>
          </div>
          <br>
          <div class="col-xs-12 col-md-12">
            <h3 class="mainParagraph text-center">向媽媽們預訂豐盛、均衡的午餐，給忙碌又總是外食的你，更有溫度的選擇</h3>
          </div>
          <div class="col-xs-12 col-md-12 scroll-down">
            <p class="btn"><i class="fa fa-angle-down fa-fw"></i></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="preInfo" class="hidden-xs hidden-sm"></section>

  <section id="info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 infoTitle">
          <h2 class="text-center">帶便當好輕鬆</h2>
          <h4 class="text-center">簡單三步驟</h4>
        </div>
        <div class="col-xs-12 col-sm-4 text-center infoFood fadeInBlock">
          <%= image_tag("food.png", class: "img-responsive storyInfo", :height => "60%", :width => "60%", alt: "bento banto") %>
          <h1 class="infoH1">瞧瞧好料</h1>
          <h4>看看今天登場的</h4>
          <h4>媽媽準備了什麼驚喜</h4>
        </div>
        <div class="col-xs-12 col-sm-4 text-center infoMac fadeInBlock">
          <%= image_tag("mac.png", class: "img-responsive storyInfo", :height => "60%", :width => "60%", alt: "bento banto") %>
          <h1 class="infoH1">預定便當</h1>
          <h4>填寫配送及聯絡方式</h4>
        </div>
        <div class="col-xs-12 col-sm-4 text-center infoCar fadeInBlock">
          <%= image_tag("car.png", class: "img-responsive storyInfo", :height => "60%", :width => "60%", alt: "bento banto") %>
          <h1 class="infoH1">飯來張口</h1>
          <h4>我們會將便當直接</h4>
          <h4>送到您指定的地點</h4>
        </div>
      </div>
    </div>
  </section>

  <section id="preStory" class="hidden-xs hidden-sm"></section>

  <section id="story">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2 class="storyTitle text-center">媽媽們的料理故事</h2>
          <h4 class="storyParagraph text-center">給家人的愛</h4>
        </div>
      </div>
    </div>

    <div class="col-xs-12 text-center fbFanPage fadeInBlock">
      <a href="https://www.facebook.com/pages/Bento-Banto-%E5%B8%B6%E4%BE%BF%E7%95%B6/926937394017505" class="btn btn-outline-light" target="_blank">更多家與料理故事</a>
    </div>

    <div class="col-xs-12 text-center fbFanPageMobile visible-xs">
      <a href="https://www.facebook.com/pages/Bento-Banto-%E5%B8%B6%E4%BE%BF%E7%95%B6/926937394017505" class="btn btn-outline-light" target="_blank">媽媽們的料理故事</a>
    </div>
  </section>

  <section id="order">
    <div class="container">
      <div class="row">
        <div class="col-x-12 col-sm-12 text-center orderBento">
          <h2><%= today %> 午餐便當</h2>
          <h4>早上9:00-11:00開放訂購，11:45-12:15送達</h4>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-11 col-xs-offset-1 col-sm-3 col-sm-offset-2 todayMenu text-center">
          <%= image_tag( @menu.mompic(:medium), :class => "img-circle img-responsive" ) %>
          <span id="heart-<%= @menu.id %>">
          <!-- badge badge_heart -->
            <div class="badge badge_heart"><%= @menu.likes_count %></div>
            <div class="heart"><%= icon("heart") %></div>
          </span>
          <ul class="list-inline">
            <li><h4 class="chefTitle">今日主廚</h4></li>
            <br>
            <li><h3 class="todayChef"><%= @menu.chef_name %></h3></li><br>
            <li><h4 class="chefInfo"><%= @menu.chef_experience %></h4></li><br>
            <% if current_user %>
              <% like = @menu.find_like_by_user(current_user)%>
              <div id="like-<%= @menu.id %>">
                <%= render :partial => "likes/show", :locals => {:menu => @menu, :like => like} %>
              </div>
            <% else %>
             <%= link_to "#",:class => "btn btn-primary btn-color likes_label", :disabled =>true do %>
             <%= icon("thumbs-up") %>
             <% end %>
             <% end %>
          </ul>
        </div>


<!-- .................................................................................... -->

        <div class="col-xs-12 col-sm-5 myOder">
          <div class="star"><%= icon("star") %></div>
          <div class="col-xs-6 col-sm-5 col-sm-offset-1 text-center dish fixW320">
            <%= @menu.menu_cuisine_1 %>
          </div>
          <div class="col-xs-6 col-sm-5 col-sm-offset-1 text-center dish">
            <%= @menu.menu_cuisine_2 %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 myOder">
          <div class="col-xs-6 col-sm-5 col-sm-offset-1 text-center dish fixW320">
            <%= @menu.menu_cuisine_3 %>
          </div>
          <div class="col-xs-6 col-sm-5 col-sm-offset-1 text-center dish">
            <%= @menu.menu_cuisine_4 %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 myOder">
          <div class="col-xs-6 col-sm-5 col-sm-offset-1 text-center dish fixW320">
            <%= @menu.menu_cuisine_5 %>
          </div>
          <div class="col-xs-6 col-sm-5 col-sm-offset-1 text-center dish">
            <%= @menu.menu_cuisine_6 %>
          </div>

          <div class="col-xs-12  col-sm-11 col-sm-offset-1 pricePlace text-center">
            <span class="priceInfo">試營運期間<u><b>免運價</b></u>：</span>
            <span class="price">$<%= @menu.price %></span>
          </div>

          <div class="clearfix"></div> <br>

          <% if bento_available? %>
          <% qty = @menu.in_stock_qty %>
          <% if qty <= 0 %>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 text-center buyBtn">
            <%= link_to "#", :class => "btn btn-danger",:disabled =>"disabled" do %>
            已售完
          <% end %>
            </div>

          <div class="col-xs-12 col-sm-8  text-center">
          <!-- disable 修改密碼選項 -->
          <%#= link_to('修改密碼', edit_registration_path(:user)) %>
            <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-primary", :disabled=>"disabled" do %>
            Facebook登入購買
            <% end %>
            <%= link_to('過往訂單', user_orders_path(current_user),:class =>"btn btn-success") %>
            <div class="order_phase text-left">帶入上次填寫資訊</div>
            <div class="text-left">訂購更快速！</div>
          </div>
            <% else %>
            <% if current_user %>
          <div class="col-xs-12 col-sm-3 col-sm-offset-1 text-center">
            <%= link_to "#", :data => {:toggle=>"modal", :target => "#mymodal"}, :class => "btn btn-warning" do %>
            購買
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-7 col-sm-offset-1 text-center">
            <%= link_to('登出', destroy_user_session_path, :method => :delete,:class =>"btn btn-primary") %>
            <%= link_to('過往訂單', user_orders_path(current_user),:class =>"btn btn-success") %>
            <%#= image_tag( current_user.fb_image,:class => "img-circle" ) %>
          </div>
            <% else %>
          <div class="col-xs-12 col-sm-3 col-sm-offset-1 text-center buyBtn">
            <%= link_to "#", :data => {:toggle=>"modal", :target => "#mymodal"}, :class => "btn btn-warning" do %>
               直接購買
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-offset-1 text-center">
            <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-primary" do %>
            Facebook登入購買
            <% end %>
            <div class="order_phase">帶入上次填寫資訊</div>
            <div>訂購更快速！</div>
          </div>
            <% end %>
          <% end %>
          <% else %>
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 text-center">
             <div class="label label-success no_order">
             <!-- 現在不是訂購時間喔 -->
             試營運結束，正式營運準備中！
             </div>
            </div>
          <% end %>

           <!-- end of qty define -->
          <% if params[:facebookbuy]=="true" %>
            <script>
              $( document ).ready(function() {
               $('html,body').animate({
                   scrollTop: $("#order").offset().top},
                   10);
                $("#mymodal").modal('show')
              });
            </script>
          <% end %>
        </div>

          <!-- Below is for ordering form -->
              <div id="modal_container">
                <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title" id="myModalLabel">訂購資料</h2>
                      </div>
                      <!-- guest訂購資料 -->
                      <div class="modal-body text-center">
                        <%= form_for @order,:remote => true, :url => confirm_menu_orders_path(@menu) do |order| %>
<!-- ....................................................................... -->
                        <!-- 可以將內容分段並排版 -->
                        <h2><%= today %> 午餐便當</h2>
                        <div class="blankInOrder">
                          <div class="starInOrder"><%= icon("star") %></div>
                          <div class="text-center text-align checkOrder dish"><%= @menu.menu_cuisine_1 %></div>
                          <div class="text-center text-align dish fixOW320"><%= @menu.menu_cuisine_2 %></div>
                        </div>
                        <div class="blankInOrder">
                          <div class="text-center text-align checkOrder dish"><%= @menu.menu_cuisine_3 %></div>
                          <div class="text-center text-align dish fixOW320"><%= @menu.menu_cuisine_4 %></div>
                        </div>
                        <div class="blankInOrder">
                          <div class="text-center text-align checkOrder dish"><%= @menu.menu_cuisine_5 %></div>
                          <div class="text-center text-align dish fixOW320"><%= @menu.menu_cuisine_6 %></div>
                        </div>
<!-- ....................................................................... -->
                        <div class="form-group">
                          <div class="text-left">
                            <%= order.label :order_name,"姓名 ＊"%>
                          </div>
                          <%= order.text_field :order_name,:placeholder => "您的名字", :class => "form-control form-width" %>
                        </div>
                        <div class="form-group">
                          <div class="text-left">
                            <%= order.label :order_phone,"手機 ＊",:class=>"error"%>
                          </div>
                          <%= order.text_field :order_phone,:placeholder => "您的手機(10碼)",:class => "form-control form-width" %>
                        </div>
                        <div class="form-group">
                          <div class="text-left">
                            <%= order.label :order_address,"運送地址 ＊"%>
                          </div>
                         <% if current_user.try(:address) %>
                          <%= order.text_area :order_address, :rows => 2, :placeholder => "",:class => "form-control" %>
                         <% else %>
                         <%= order.select :address_area, %w[大安區 信義區 松山區], {}, :class => "form-control form-width" %>
                          <%= order.text_area :address_road, :rows => 2, :placeholder => "",:class => "form-control" %>
                          <% end %>
                        </div>
                        <div class="form-group">
                          <div class="text-left">
                            <%= order.label :menu_count,"便當數量"%>
                          </div>
                          <% qty = @menu.in_stock_qty %>
                          <%= order.select :menu_count, 1..qty, {}, :class => "form-control form-width" %>
                        </div>
                        <div id="error"></div>
                        <hr>
                          <%= order.submit "建立訂單",:class => "btn btn-success",:id =>"dismiss"%>
                         <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!-- menu content format END -->
          </div>
        </div>
      </div>
    </div>
  </section>



<!-- JavaScript gose here -->

<script>
$(document).ready(function(){
  var $window = $(window);
  $('section[data-type="background"]').each(function(){
      var $bgobj = $(this); // assigning the object

      $(window).scroll(function() {
          var yPos = -($window.scrollTop() / $bgobj.data('speed'));

          // Put together our final background position
          var coords = '50% '+ yPos + 'px';

          // Move the background
          $bgobj.css({ backgroundPosition: coords });
      });
  });

  $("p").click(function() {
      $('html,body').animate({
          scrollTop: $("#preInfo").offset().top},
          'slow');
  });

  $(document).on('scroll', function (e) {
    var navbar = $('.navbar-default');
    navbar.css('opacity', ($(document).scrollTop() / 500));

    if ( $(document).scrollTop() < 10 ) {
      navbar.css('display', "none");
    } else {
      navbar.css('display', "inline-block");
    }

  });

  $('a').click(function(){
      $('html, body').animate({
          scrollTop: $( $(this).attr('href') ).offset().top
      }, 500);
      return false;
  });

  $(window).scroll( function(){
    $('.fadeInBlock').each( function(i){
      var bottom_of_object = $('.infoFood, .infoMac, .infoCar, .fbFanPage').position().top + $('.infoFood, .infoMac, .infoCar').outerHeight();
      var bottom_of_window = $(window).scrollTop() + $(window).height();

      bottom_of_window = bottom_of_window + 200;

      if( bottom_of_window > bottom_of_object ){
        $('.infoFood').animate({'opacity':'1'},800);
        $('.infoMac').animate({'opacity':'1'},1600);
        $('.infoCar').animate({'opacity':'1'},3200);
        $('.fbFanPage').animate({'opacity':'1'},4000);
      }
    });
  });

});
</script>

<!-- JavaScript END -->
<!-- Google Analytics Tracking code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61802403-2', 'auto');
  ga('send', 'pageview');

</script>
<!-- Google Analytics Tracking code end -->
<!-- Facebook Conversion Code for bentobanto-website-landingpage
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6028582381840', {'value':'0.00','currency':'TWD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6028582381840&amp;cd[value]=0.00&amp;cd[currency]=TWD&amp;noscript=1" /></noscript>
Facebook Conversion Code for bentobanto-website-landingpage end-->