  <section id="headNav">
    <nav class="navbar navbar-default navbar-fixed-top hidden-sm" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="row">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home"><%= image_tag("web_logo.png", :height => "10%", :width => "10%", class: "img-responsive", alt: "bento banto") %></a>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#info">簡單三步驟</a></li>
              <li><a href="#story">媽媽料理故事</a></li>
              <li><a href="#order">我要帶便當</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </section>

  <section id="home" data-type="background" data-speed="10">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <p class="centerLogo text-center"><%= image_tag("web_logo.png", :height => "20%", :width => "20%", alt: "bento banto") %></p>
          <h1 class="mainArticle text-center">帶一份 來自家的便當</h1>
          <br>
          <p class="mainParagraph text-center">向媽媽們預訂豐盛、均衡的午餐，給忙碌又總是外食的你，更有溫度的選擇</p>
          <div class="col-xs-12 col-md-12 scroll-down">
            <p class="btn"><i class="fa fa-angle-down fa-fw"></i></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2 class="text-center">帶便當好輕鬆</h2>
          <h4 class="text-center">簡單三步驟</h4>
          <%= image_tag("info.png", class: "img-responsive storyInfo", :height => "70%", :width => "70%", alt: "bento banto") %>
        </div>
      </div>
    </div>
  </section>

  <section id="story">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2 class="storyTitle text-center">媽媽們的料理故事</h2>
          <h4 class="storyParagraph text-center">給孩子的愛</h4>
        </div>
      </div>
    </div>

    <div class="col-xs-12 text-center">
      <a href="https://www.facebook.com/pages/Bento-Banto-%E5%B8%B6%E4%BE%BF%E7%95%B6/926937394017505" class="btn btn-primary btn-lg fa fa-facebook-square"> 更多家與料理故事</a>
    </div>
  </section>

  <section id="order">
    <div class="container">
      <div class="row">

        <div class="col-x-12 col-sm-12 text-center orderBento">
          <h2><%= @Time_now %> 午餐便當</h2>
          <!-- <h2><%#= @menu.menu_date %> 午餐菜單</h2> -->
          <h4><%= @menu.title %></h4>
        </div>

        <div class="col-xs-12 col-sm-3 col-sm-offset-1 todayMenu text-center">
          <%= image_tag( @menu.mompic(:medium), :class => "img-circle img-responsive text-center" ) %>
          <ul class="list-inline text-center">
            <li><h4 class="chefTitle">今日主廚</h4></li><br>
            <li><h3 class="todayChef"><%= @menu.chef_name %></h3></li><br>
            <!-- <li><h4 class="chefTitle text-left">料理經驗</h4></li><br> -->
            <li><h4 class="chefInfo"><%= @menu.chef_experience %></h4></li>
          </ul>
          <!-- 要加 使用者判斷式 -->
        </div>

        <div class="col-xs-12 col-sm-5 col-sm-offset-3 myOder out">
          <div class="form-group">
            <ul>
            <!-- 可以將內容分段並排版 -->
              <!-- <div class="text-align"> -->
               <div class="test">
               <div class="star"><%= icon("star") %></div>
                 <div class="border text-center text-align check dish"><%=@menu.menu_cuisine_1 %></div>
                 <div class="border text-center text-align dish"><%= @menu.menu_cuisine_2 %></div>
               </div>
              <!-- </div> -->
              <div class="test">
                <div class="border text-center text-align check dish"><%= @menu.menu_cuisine_3 %></div>
                <div class="border text-center text-align dish">
                    <%= @menu.menu_cuisine_4%>
                </div>
              </div>
              <div class="test">
               <div class="border text-center text-align check dish">
                   <%= @menu.menu_cuisine_5%>
               </div>
               <div class="border text-center text-align dish">
                   <%= @menu.menu_cuisine_6%>
               </div>
              </div>
            </ul>
            <div class="text-center"><h3>便當價格<%= @menu.price %></h3></div>
            <br>
            <% qty = @menu.in_stock_qty %>
             <% if qty == 0 %>
              <div class="col-xs-12 col-sm-4 text-center">
                <%= link_to "#", :class => "btn btn-danger btn-lg fa fa-minus-circle",:disabled =>"disabled" do %>
                限量是殘酷的
                <% end %>
              </div>
              <!-- div end for guest order button -->
                <!-- div start for facebook order button -->
                <div class="col-xs-12 col-sm-6  text-center">
                <!-- disable 修改密碼選項 -->
                <%#= link_to('修改密碼', edit_registration_path(:user)) %>
                  <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-lg fa fa-facebook-square", :disabled=>"disabled" do %>
                  Facebook登入購買
                  <% end %>
                  <p>帶入上次填寫資訊，訂購更快速！</p>
                </div>
             <% else %>
              <!-- To lock the order if date is Sun/Sat or other hours than 9~11 -->
               <%# unless @Time_constraint %>
                <div class="col-xs-12 col-sm-4 text-center">
                 <%= link_to "#", :data => {:toggle=>"modal", :target => "#mymodal"}, :class => "btn btn-warning" do %>
                 直接購買
                 <% end %>
                 </div>
                 <div class="col-xs-12 col-sm-6  text-center">
                 <% if current_user %>
                  <%= link_to('登出', destroy_user_session_path, :method => :delete,:class =>"btn btn-primary") %>
                  <%#= image_tag( current_user.fb_image,:class => "img-circle" ) %>
                 <% else %>
                  <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-lg fa fa-facebook-square" do %>
                  Facebook登入購買
                  <% end %>
                 <% end %>
                  <div class="order_phase">帶入上次填寫資訊</div>
                  <div>訂購更快速！</div>
                </div>
               <%# end %>
             <% end %>
             <br>
                <% if params[:facebookbuy]=="true" %>
               <script>
               $( document ).ready(function() {
                 $("#mymodal").modal('show')
                });
               </script>
            <% end %>
              <!-- end of qty define -->
            <div class="col-sm-2"></div>


          <!-- above is for menu content format -->
              <!-- For book button -->
              <div id="modal_container">
                <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title" id="myModalLabel">訂購資料</h2>
                      </div>
                      <!-- guest訂購資料 -->
                      <div class="modal-body text-center">
                        <%= form_for @order,:remote => true, :url => confirm_menu_orders_path(@menu) do |order| %>
<!-- ....................................................................... -->

            <ul>
            <!-- 可以將內容分段並排版 -->
               <h2><%= @Time_now %> 午餐便當</h2>
               <div class="test">
                 <div class="border text-center text-align check dish"><%= @menu.menu_cuisine_1 %></div>
                 <div class="border text-center text-align dish"><%= @menu.menu_cuisine_2 %></div>
               </div>
              <div class="test">
                <div class="border text-center text-align check dish"><%= @menu.menu_cuisine_3 %></div>
                <div class="border text-center text-align dish"><%= @menu.menu_cuisine_4 %></div>
              </div>
              <div class="test">
                <div class="border text-center text-align check dish"><%= @menu.menu_cuisine_5 %></div>
                <div class="border text-center text-align dish"><%= @menu.menu_cuisine_6 %></div>
              </div>
            </ul>
<!-- ....................................................................... -->
                        <div class="form-group">
                          <div class="text-left">
                            <%= order.label :order_name,"姓名"%>
                          </div>
                          <%= order.text_field :order_name,:placeholder => "您的名字",:class => "form-control form-width" %>
                        </div>
                        <div class="form-group">
                          <div class="text-left">
                            <%= order.label :order_phone,"電話"%>
                          </div>
                          <%= order.text_field :order_phone,:placeholder => "您的電話",:class => "form-control form-width" %>
                        </div>
                        <div class="form-group">
                          <div class="text-left">
                            <%= order.label :order_address,"運送地址"%>
                          </div>
                         <% if current_user.try(:address) %>
                          <%= order.text_area :order_address, :rows => 2, :placeholder => "",:class => "form-control" %>
                         <% else %>
                         <%= order.select :address_area, %w[大安區 中正區 文山區], {}, :class => "form-control form-width" %>

                          <%= order.text_area :address_road, :rows => 2, :placeholder => "",:class => "form-control" %>
                          <% end %>
                        </div>
                        <!-- Dropdown menu -->
                        <!-- End of Drop down menu -->
                        <div class="form-group">
                          <div class="text-left">
                            <%= order.label :menu_count,"便當數量"%>
                          </div>

                          <%= order.select :menu_count, 1..qty, {}, :class => "form-control form-width" %>

                        </div>
                        <hr>
                          <%= order.submit "建立訂單",:class => "btn btn-success",:id =>"dismiss"%>
                         <% end %>
                      </div>
                          <% if @order.errors.any? %>
                          <ul>
                          <% @order.errors.full_messages.each do |msg| %>
                          <li>
                          <%= msg %>
                          </li>
                          <% end %>
                          </ul>
                          <% end %>
                      <!-- Disable normal user login function -->
                          <!-- <div class="text-align"> -->
                            <%# if current_user %>
                            <%#= link_to('登出', destroy_user_session_path, :method => :delete) %>  <%#= link_to('修改密碼', edit_registration_path(:user)) %>
                            <%# else %>
                            <%#= link_to('註冊', new_registration_path(:user),:class=>"btn btn-primary text-align") %>
                            <%#= link_to('登入', new_session_path(:user),:class=>"btn btn-primary text-align") %>
                            <%# end %>
                          <!-- </div> -->
                          <!-- Normal user login disable -->
                     <!--form_for_order_end end-->
                      <%# end %>   <!--menu end-->
                    </div>
                  </div>
                </div>
              </div>
<!-- menu content format END -->
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- JavaScript gose here -->

<script>
$(document).ready(function(){
  var $window = $(window);
  $('section[data-type="background"]').each(function(){
      var $bgobj = $(this); // assigning the object

      $(window).scroll(function() {
          var yPos = -($window.scrollTop() / $bgobj.data('speed'));

          // Put together our final background position
          var coords = '50% '+ yPos + 'px';

          // Move the background
          $bgobj.css({ backgroundPosition: coords });
      });
  });

  $("p").click(function() {
      $('html,body').animate({
          scrollTop: $("#info").offset().top},
          'slow');
  });

  $(document).on('scroll', function (e) {
    var navbar = $('.navbar-default');
    navbar.css('opacity', ($(document).scrollTop() / 500));

    if ( $(document).scrollTop() < 10 ) {
      navbar.css('display', "none");
    } else {
      navbar.css('display', "inline-block");
    }

  });

});
</script>

<!-- JavaScript END -->