<%= form_for @menu, :url => menus_path do |f| %>
<!-- Detect input error -->
<% if @menu.errors.any? %>
<ul>
    <% @menu.errors.full_messages.each do |msg| %>
    <li>
        <%= msg %>
    </li>
    <% end %>
</ul>
<% end %>
<!-- Detect input error end -->
<p><%= f.label "便當title" %></p>
<p><%= f.text_field :title, :class=>"form-control form-width"%></p>
<p><%= f.label "便當content" %></p>
<p><%= f.text_field :contents, :class=>"form-control form-width"%></p>
<p><%= f.label "便當price" %></p>
<p><%= f.text_field :price, :class=>"form-control form-width"%></p>
<p><%= f.label "媽媽資訊" %></p>
<p><%= f.text_field :mominfo, :class=>"form-control form-width"%></p>
<p><%= f.label :mompic, "Upload pic" %></p>
<p><%= f.file_field :mompic %></p>
<p><%= f.submit %></p>
<% end %>