<%= form_for(@admin_order) do |f| %>
  <% if @admin_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_order.errors.count, "error") %> prohibited this admin_order from being saved:</h2>

      <ul>
      <% @admin_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <table class="table-hover table">
   <tr class="field">
     <td><%= f.label :menu_id, "便當編號" %></td>
     <td><%= f.text_field :menu_id,:class=>"form-control form-width" %></td>
   </tr>
   <tr class="field">
     <td><%= f.label :menu_count, "便當個數" %></td>
     <td><%= f.text_field :menu_count,:class=>"form-control form-width" %></td>
   </tr>
   <tr class="field">
     <td><%= f.label :order_name, "訂購者姓名" %></td>
     <td><%= f.text_field :order_name,:class=>"form-control form-width" %></td>
   </tr>
   <tr class="field">
     <td><%= f.label :order_phone, "訂購者電話" %></td>
     <td><%= f.text_field :order_phone,:class=>"form-control form-width" %></td>
   </tr>
   <tr class="field">
     <td><%= f.label :order_address, "訂購者地址" %></td>
     <td><%= f.text_area :order_address,:class=>"form-control" %></td>
   </tr>
   <tr class="field">
     <td><%= f.label :order_email, "訂購者email" %></td>
     <td><%= f.text_field :order_email,:class=>"form-control form-width" %></td>
   </tr>
   <tr class="actions">
     <td><%= f.submit "更新訂單",:class=>"btn btn-default" %></td>
     <td></td>
   </tr>
 </table>








<% end %>

