<%= form_for(@admin_order) do |f| %>
  <% if @admin_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_order.errors.count, "error") %> prohibited this admin_order from being saved:</h2>

      <ul>
      <% @admin_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_price %><br>
    <%= f.text_field :total_price %>
  </div>
  <div class="field">
    <%= f.label :menu_count %><br>
    <%= f.text_field :menu_count %>
  </div>
  <div class="field">
    <%= f.label :order_name %><br>
    <%= f.text_field :order_name %>
  </div>
  <div class="field">
    <%= f.label :order_phone %><br>
    <%= f.text_field :order_phone %>
  </div>
  <div class="field">
    <%= f.label :order_address %><br>
    <%= f.text_field :order_address %>
  </div>
  <div class="field">
    <%= f.label :order_email %><br>
    <%= f.text_field :order_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
