<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Total price:</strong>
  <%= @admin_order.total_price %>
</p>

<p>
  <strong>Menu count:</strong>
  <%= @admin_order.menu_count %>
</p>

<p>
  <strong>Order name:</strong>
  <%= @admin_order.order_name %>
</p>

<p>
  <strong>Order phone:</strong>
  <%= @admin_order.order_phone %>
</p>

<p>
  <strong>Order address:</strong>
  <%= @admin_order.order_address %>
</p>

<p>
  <strong>Order email:</strong>
  <%= @admin_order.order_email %>
</p>

<%= link_to 'Edit', edit_admin_order_path(@admin_order) %> |
<%= link_to 'Back', admin_orders_path %>
