<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
 <div class="row"><!-- <p id="notice"><%= notice %></p> -->
  <table class="table table-striped">
    <hr>
      <tr>
        <th>
          <strong>Total price:</strong>
        </th>
        <td><%= @admin_order.total_price %></td>
      </tr>

      <tr>
        <th>
          <strong>Menu count:</strong>
        </th>
        <td><%= @admin_order.menu_count %></td>
      </tr>

      <tr>
        <th>
          <strong>Order name:</strong>
        </th>
        <td><%= @admin_order.order_name %></td>
      </tr>

      <tr>
        <th>
          <strong>Order phone:</strong>
        </th>
        <td><%= @admin_order.order_phone %></td>
      </tr>

      <tr>
        <th>
          <strong>Order address:</strong>
        </th>
        <td><%= @admin_order.order_address %></td>
      </tr>

      <tr>
        <th>
          <strong>Order email:</strong>
        </th>
        <td><%= @admin_order.order_email %></td>
      </tr>

      <tr>
        <th><%= link_to 'Edit', edit_admin_order_path(@admin_order),:class=>"btn btn-primary" %>
          <%= link_to 'Back', admin_orders_path,:class=>"btn btn-primary" %>
        </th>
        <td></td>
      </tr>
  </table>
 </div>
</div>


