<div class="container">
  <div class="row">
    <div class=""><h1 class="text-center"><%=image_tag( current_user.fb_image,:class => "img-circle" ) %>    訂購歷史紀錄</h1></div>

      <table class="table table-hover">
       <thead>
        <tr class="history">
          <th>媽媽資訊</th>
          <th>便當內容</th>
          <th class="text-center">訂購個數</th>
          <th class="text-center">訂購總價</th>
          <th class="text-center">訂購日期</th>
          <th class="text-center">訂單狀態</th>
          <th class="text-center">結帳</th>
        </tr>
       </thead>
       <tbody>
        <% @orders.each do |order| %>
         <tr>
           <!-- <td><div class="history_name"><%#= order.order_name %></div></td> -->
           <td class="history_chef">
            <%= image_tag( order.menu.mompic(:thumb), :class => "img-circle img-responsive" ) %>
            <div class="label label-primary history_chef history_image"><%= order.menu.chef_name %></div><br>
            <div class="label label-primary history_chef"><%= order.menu.chef_experience %></div>
           </td>
           <td class="history_contents">
            <div class="label label-warning history_contents">
            <%= order.menu.menu_cuisine_1 %></div>
            <div class="label label-warning history_contents">
            <%= order.menu.menu_cuisine_2 %></div>
            <div class="label label-warning history_contents">
            <%= order.menu.menu_cuisine_3 %></div><br>
            <div class="label label-warning history_contents space">
            <%= order.menu.menu_cuisine_4 %></div>
            <div class="label label-warning history_contents " id="cuisine_5">
            <%= order.menu.menu_cuisine_5 %></div>
             <% if order.menu.menu_cuisine_5=="" %>
               <script>
                $('#cuisine_5').remove();
               </script>
             <% end %>
            <div class="label label-warning history_contents" id="cuisine_6">
            <%= order.menu.menu_cuisine_6 %></div>
             <% if order.menu.menu_cuisine_6=="" %>
              <script>
                $('#cuisine_6').remove();
              </script>
             <% end %>
           </td>
           <td class="text-center"><span class="badge badge_order_record" style="font-size:13px;"><%= order.menu_count %></span></td>
           <td class="text-center"><b><%= order.total_price %></b></td>
           <td class="text-center"><b><%= order.created_at.localtime.strftime("%Y/%m/%d") %></b></td>
           <td class="text-center"><%= order.paid? ? :付款成功 : :未付款 %></td>
           <td class="text-center"><%= link_to '結帳', menu_order_checkout_path(order.menu, order), :class=> "btn btn-success" %></td>
         </tr>
        <% end %>
       </tbody>

      </table>

      <%= paginate @orders %><br>
      <%=link_to "回首頁",root_path,:class=>"btn btn-default "  %>
      <div class="line"></div>

  </div>
</div>