<%= form_for(@admin_user) do |f| %>
  <% if @admin_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_user.errors.count, "error") %> prohibited this admin_user from being saved:</h2>

      <ul>
      <% @admin_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-hover">

    <tr class="field">
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name,:class=>"form-control form-width" %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :phone %></td>
      <td><%= f.text_field :phone,:class=>"form-control form-width" %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :address %></td>
      <td><%= f.text_field :address,:class=>"form-control form-width" %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email,:class=>"form-control form-width" %></td>
    </tr>
    <tr class="actions">
      <td><%= f.submit "更新使用者",:class=>"btn btn-default" %></td>
      <td></td>
    </tr>
</table>
<% end %>
