   <%= form_for(@admin_menu) do |f| %>
      <% if @admin_menu.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin_menu.errors.count, "error") %> prohibited this admin_menu from being saved:</h2>

          <ul>
          <% @admin_menu.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <table class="table table-hover">
        <tr class="field">
          <td><%= f.label :contents, "便當內容" %></td>
          <td><%= f.text_area :contents,:class=>"form-control form-width" %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :price, "便當價格" %></td>
          <td><%= f.text_field :price,:class=>"form-control form-width" %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :likes_count, "按讚數" %></td>
          <td><%= f.text_field :likes_count,:class=>"form-control form-width" %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :in_stock_qty, "便當庫存" %></td>
          <td><%= f.text_field :in_stock_qty,:class=>"form-control form-width" %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :mominfo, "媽媽資訊" %></td>
          <td><%= f.text_field :mominfo,:class=>"form-control form-width" %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :mompic, "上傳媽媽照片" %></td>
          <td><%= f.file_field :mompic %></td>
        </tr>
        <tr class="actions">
          <td><%= f.submit "更新菜單",:class=>"btn btn-default" %></td>
          <td></td>
        </tr>
      </table>
    <% end %>