<div class="container">
 <div class="row"><!-- <p id="notice"><%= notice %></p> -->
  <table class="table table-striped">
    <hr>
      <tr>
        <th>
          <strong>Title:</strong>
        </th>
        <td><%= @admin_menu.title %></td>
      </tr>

      <tr>
        <th>
          <strong>Contents:</strong>
        </th>
        <td><%= @admin_menu.contents %></td>
      </tr>

      <tr>
        <th>
          <strong>Price:</strong>
        </th>
        <td><%= @admin_menu.price %></td>
      </tr>

      <tr>
        <th>
          <strong>Likes count:</strong>
        </th>
        <td><%= @admin_menu.likes_count %></td>
      </tr>

      <tr>
        <th>
          <strong>In stock qty:</strong>
        </th>
        <td><%= @admin_menu.in_stock_qty %></td>
      </tr>

      <tr>
        <th>
          <strong>Mominfo:</strong>
        </th>
        <td><%= @admin_menu.mominfo %></td>
      </tr>

      <tr>
        <th>
          <strong>Mompic:</strong>
        </th>
        <td><%= image_tag(@menu.mompic(:medium)) %></td>
      </tr>

      <tr>
        <th><%= link_to 'Edit', edit_admin_menu_path(@admin_menu),:class=>"btn btn-primary" %>
          <%= link_to 'Back', admin_menus_path,:class=>"btn btn-primary" %></th>
      </tr>
  </table>
 </div>
</div>
