<!DOCTYPE html>
<html>
  <head>
    <title>BentoBanto帶便當</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'public/bentobanto.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <% if current_user %>
   <%= link_to('登出', destroy_user_session_path, :method => :delete) %> | <%= link_to('修改密碼', edit_registration_path(:user)) %>
    <% else %>
    <%= link_to('註冊', new_registration_path(:user)) %> |<%= link_to('登入', new_session_path(:user)) %>
    <% end %>


    <% if flash[:success] %>
    <p class="notice alert alert-success">
      <%= flash[:success] %>
    </p>
    <%end%>
    <% if flash[:notice] %>
    <p class="notice alert alert-info">
      <%= flash[:notice] %>
    </p>
    <%end%>
    <% if flash[:alert] %>
    <p class="alert alert-danger">
      <%= flash[:alert] %>
    </p>
    <%end%>
    <%= yield %>
  </body>
</html>